.cartBox{
    background-color: #d1d0c7;
    height: 35rem;
    width: 39rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
    margin-bottom: 9.3rem;
     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.14);
}

.h1{
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    padding-top: 30px;
}

.total{
    margin-left: 15rem;
    margin-top: 25rem;
}

.h4{
    margin-left: 50px;
}
